@use '----pkg-uni/uni-styles/uni-style-antd-media/by-gen-uni-style-scss-vars-antd-media.scss'
  as *;

// -----------------------------------------------------------------------------
// 🌈 COMP CSS VARS
//

// prettier-ignore
.comp-wrapper { // for-CSS-VARS--light
}

// prettier-ignore
.comp-wrapper--isDarkMode { // for-CSS-VARS--dark
}

// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  // display: block;
  width: 100%;

  @media (min-width: $screen-md) {
    margin: 0 auto;
    width: 1100px;
    // border: 1px solid #9991;
    // border-bottom: none;
    // border-top: none;
    // box-sizing: border-box;
  }
}

.comp-wrapper--isDarkMode {
}
