/* 
|
| code by gen
| prettier-ignore
|
|*/
:root {
  --app-text-primary: var(--uni-abs-color-gray-black, #1f1f22);
  --app-text-secondary: var(--uni-abs-color-B7-for-light, #6f7174);
  --app-mask-color: #f2f2f222;
  --app-page-padding: 20px;
  --app-brand-color: #0052d9;
  --app-brand-color-rgb: 5, 81, 155;
  --app-card-border: 1px solid #0000000a;
  --app-card-shadow: 0 1px 3px 0 #0000000a, 0 1px 2px -1px #0000000a;
  --app-card-shadow--hover: 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
  --app-layout-padding: 16px;
  --app-ss-wc-header-height: 56px;
  --app-ss-wc-footer-height: 105px;
  --app-container-ext-width: 280px;
  --app-page-border-radius: 5px;
  --app-page-header-logo-left: 20px;
  --app-page-padding-x: 20px;
  --app-tabbar-height: 50px;
  --app-zIndex-lib-ant-message: 950;
  --app-zIndex-lib-ant-modal-wrap: 950;
  --app-zIndex-lib-ant-drawer-mask: 950;
  --app-zIndex-lib-ant-drawer-content-wrapper: 950;
  --app-zIndex-lib-ant-drawer: 950;
  --app-zIndex-lib-vconsole: 999;
  --app-height: 100%;
  --app-width: 100%;
  /* prettier-ignore */
  --app-font-family-chinese: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei';
  /* prettier-ignore */
  --app-font-family-sspui: -apple-system, BlinkMacSystemFont, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', Arial, sans-serif;
  /* prettier-ignore */
  --app-font-family-number: GeistSans, 'GeistSans Fallback', -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  /* prettier-ignore */
  --app-font-family-price: Outfit, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  /* prettier-ignore */
  --app-font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',  sans-serif;
  /* prettier-ignore */
  --app-font-family-for-android: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
  /* prettier-ignore */
  --app-font-family-code: 'Source Code Pro', 'Liberation Mono', Menlo, Consolas, monospace;
  /* prettier-ignore */
  --app-font-family-cindie: 'CindieMono-D', sans-serif;
  /* prettier-ignore */
  --app-font-family-abel: 'Abel-Regular', sans-serif;
  --app-android-ui-safeAreaViewInsetsBottom: 0px;
  --app-android-ui-navigationBarHeight: 0px;
  --app-android-ui-smartSafeAreaViewInsetsBottom: 0px;
  --runtime-tabbar-InsetsBottom: 0px;
  /* prettier-ignore */
  --runtime-safeAreaBottomPx: calc(var(--runtime-safe-area-inset-bottom) + var(--app-android-ui-smartSafeAreaViewInsetsBottom));
  --runtime-safe-area-inset-top: calc(0px + env(safe-area-inset-top));
  --runtime-safe-area-inset-bottom: calc(0px + env(safe-area-inset-bottom));
  --runtime-safe-area-inset-left: calc(0px + env(safe-area-inset-left));
  --runtime-safe-area-inset-right: calc(0px + env(safe-area-inset-right));
  --uni-abs-color-white: #ffffff;
  --uni-abs-color-black: #000000;
  --uni-abs-color-gray-white: #f2f2f2;
  --uni-abs-color-gray-black: #1f1f22;
  --uni-abs-color-B0-for-light: #ffffff;
  --uni-abs-color-B1-for-light: #f7f7f9;
  --uni-abs-color-B2-for-light: #f0f0f3;
  --uni-abs-color-B3-for-light: #e4e4e5;
  --uni-abs-color-B4-for-light: #cdcdce;
  --uni-abs-color-B5-for-light: #acaeb3;
  --uni-abs-color-B6-for-light: #6f7174;
  --uni-abs-color-B7-for-light: #48494c;
  --uni-abs-color-B8-for-light: #000000;
  --uni-abs-color-BP0-for-light: #ffffff;
  --uni-abs-color-BP1-for-light: #f7f7f9;
  --uni-abs-color-BP2-for-light: #f0f0f3;
  --uni-abs-color-BP3-for-light: #e4e4e5;
  --uni-abs-color-BP4-for-light: #cdcdce;
  --uni-abs-color-BP5-for-light: #acaeb3;
  --uni-abs-color-BP6-for-light: #6f7174;
  --uni-abs-color-BP7-for-light: #48494c;
  --uni-abs-color-BP8-for-light: #000000;
  --uni-abs-color-brand-for-light: #da282a;
  --uni-abs-color-red-for-light: #ff5d3a;
  --uni-abs-color-orange-for-light: #f99500;
  --uni-abs-color-yellow-for-light: #fcc400;
  --uni-abs-color-lime-for-light: #caf452;
  --uni-abs-color-green-for-light: #13d08c;
  --uni-abs-color-aqua-for-light: #24eded;
  --uni-abs-color-blue-for-light: #0596ff;
  --uni-abs-color-navy-for-light: #363eff;
  --uni-abs-color-purple-for-light: #811eff;
  --uni-abs-color-pink-for-light: #ffc0cc;
  --uni-abs-color-red-50-for-light: #ffedea;
  --uni-abs-color-red-100-for-light: #ffc7bd;
  --uni-abs-color-red-200-for-light: #ffab9d;
  --uni-abs-color-red-300-for-light: #ff8571;
  --uni-abs-color-red-400-for-light: #ff6d55;
  --uni-abs-color-red-500-for-light: #ff492b;
  --uni-abs-color-red-600-for-light: #e84227;
  --uni-abs-color-red-700-for-light: #b5341f;
  --uni-abs-color-red-800-for-light: #8c2818;
  --uni-abs-color-red-900-for-light: #6b1f12;
  --uni-abs-color-orange-50-for-light: #fff4e6;
  --uni-abs-color-orange-100-for-light: #ffdcb0;
  --uni-abs-color-orange-200-for-light: #ffcb8a;
  --uni-abs-color-orange-300-for-light: #ffb454;
  --uni-abs-color-orange-400-for-light: #ffa533;
  --uni-abs-color-orange-500-for-light: #ff8f00;
  --uni-abs-color-orange-600-for-light: #e88200;
  --uni-abs-color-orange-700-for-light: #b56600;
  --uni-abs-color-orange-800-for-light: #8c4f00;
  --uni-abs-color-orange-900-for-light: #6b3c00;
  --uni-abs-color-yellow-50-for-light: #fff9e6;
  --uni-abs-color-yellow-100-for-light: #ffecb0;
  --uni-abs-color-yellow-200-for-light: #ffe38a;
  --uni-abs-color-yellow-300-for-light: #ffd654;
  --uni-abs-color-yellow-400-for-light: #ffce33;
  --uni-abs-color-yellow-500-for-light: #ffc200;
  --uni-abs-color-yellow-600-for-light: #e8b100;
  --uni-abs-color-yellow-700-for-light: #b58a00;
  --uni-abs-color-yellow-800-for-light: #8c6b00;
  --uni-abs-color-yellow-900-for-light: #6b5100;
  --uni-abs-color-lime-50-for-light: #f9fee9;
  --uni-abs-color-lime-100-for-light: #ebfdba;
  --uni-abs-color-lime-200-for-light: #e1fb98;
  --uni-abs-color-lime-300-for-light: #d3fa6a;
  --uni-abs-color-lime-400-for-light: #cbf94d;
  --uni-abs-color-lime-500-for-light: #bef720;
  --uni-abs-color-lime-600-for-light: #ade11d;
  --uni-abs-color-lime-700-for-light: #87af17;
  --uni-abs-color-lime-800-for-light: #698812;
  --uni-abs-color-lime-900-for-light: #50680d;
  --uni-abs-color-green-50-for-light: #e6fbf3;
  --uni-abs-color-green-100-for-light: #b0f2d9;
  --uni-abs-color-green-200-for-light: #8aecc7;
  --uni-abs-color-green-300-for-light: #54e3ae;
  --uni-abs-color-green-400-for-light: #33dd9e;
  --uni-abs-color-green-500-for-light: #00d586;
  --uni-abs-color-green-600-for-light: #00c27a;
  --uni-abs-color-green-700-for-light: #00975f;
  --uni-abs-color-green-800-for-light: #00754a;
  --uni-abs-color-green-900-for-light: #005938;
  --uni-abs-color-aqua-50-for-light: #e6fefd;
  --uni-abs-color-aqua-100-for-light: #b0fbfa;
  --uni-abs-color-aqua-200-for-light: #8af9f7;
  --uni-abs-color-aqua-300-for-light: #54f6f4;
  --uni-abs-color-aqua-400-for-light: #33f5f1;
  --uni-abs-color-aqua-500-for-light: #00f2ee;
  --uni-abs-color-aqua-600-for-light: #00dcd9;
  --uni-abs-color-aqua-700-for-light: #00aca9;
  --uni-abs-color-aqua-800-for-light: #008583;
  --uni-abs-color-aqua-900-for-light: #006664;
  --uni-abs-color-blue-50-for-light: #e6f5ff;
  --uni-abs-color-blue-100-for-light: #b0dfff;
  --uni-abs-color-blue-200-for-light: #8acfff;
  --uni-abs-color-blue-300-for-light: #54b9ff;
  --uni-abs-color-blue-400-for-light: #33acff;
  --uni-abs-color-blue-500-for-light: #0097ff;
  --uni-abs-color-blue-600-for-light: #0089e8;
  --uni-abs-color-blue-700-for-light: #006bb5;
  --uni-abs-color-blue-800-for-light: #00538c;
  --uni-abs-color-blue-900-for-light: #003f6b;
  --uni-abs-color-navy-50-for-light: #ecebff;
  --uni-abs-color-navy-100-for-light: #c3c0ff;
  --uni-abs-color-navy-200-for-light: #a6a2ff;
  --uni-abs-color-navy-300-for-light: #7d77ff;
  --uni-abs-color-navy-400-for-light: #645dff;
  --uni-abs-color-navy-500-for-light: #3d34ff;
  --uni-abs-color-navy-600-for-light: #382fe8;
  --uni-abs-color-navy-700-for-light: #2b25b5;
  --uni-abs-color-navy-800-for-light: #221d8c;
  --uni-abs-color-navy-900-for-light: #1a166b;
  --uni-abs-color-purple-50-for-light: #f4e6ff;
  --uni-abs-color-purple-100-for-light: #dcb0ff;
  --uni-abs-color-purple-200-for-light: #cb8aff;
  --uni-abs-color-purple-300-for-light: #b454ff;
  --uni-abs-color-purple-400-for-light: #a533ff;
  --uni-abs-color-purple-500-for-light: #8f00ff;
  --uni-abs-color-purple-600-for-light: #8200e8;
  --uni-abs-color-purple-700-for-light: #6600b5;
  --uni-abs-color-purple-800-for-light: #4f008c;
  --uni-abs-color-purple-900-for-light: #3c006b;
  --uni-abs-color-pink-50-for-light: #fff8fa;
  --uni-abs-color-pink-100-for-light: #ffeaef;
  --uni-abs-color-pink-200-for-light: #ffe0e8;
  --uni-abs-color-pink-300-for-light: #ffd2dd;
  --uni-abs-color-pink-400-for-light: #ffc9d6;
  --uni-abs-color-pink-500-for-light: #ffbccc;
  --uni-abs-color-pink-600-for-light: #e8abba;
  --uni-abs-color-pink-700-for-light: #b58591;
  --uni-abs-color-pink-800-for-light: #8c6770;
  --uni-abs-color-pink-900-for-light: #6b4f56;
  --uni-abs-color-backdrop-for-light: #7c7e81cc;
  --uni-abs-color-delete-for-light: #ff492b;
  --uni-abs-color-error-for-light: #ff492b;
  --uni-abs-color-success-for-light: #52c41a;
}