// -----------------------------------------------------------------------------
// 🌈 COMP CSS MIXIN VARS
//
// prettier-ignore
.comp-wrapper { // for-CSS-VARS--light
  --comp-DebugBarModalContent-feature-is-enabled-bg-color: #ff0e;
  --comp-DebugBarModalContent-feature-is-enabled-text-color: #000;
  //
  --comp-DebugBarModalContent-btn-bg-color: #fff;
  --comp-DebugBarModalContent-btn-bg-color--hover: #eee;
  --comp-DebugBarModalContent-btn-text-color: #111;
  --comp-DebugBarModalContent-btn-border-color: #ccc;
}

// prettier-ignore
:global(.theme-dark) .comp-wrapper, .comp-wrapper--isDarkMode { // for-CSS-VARS--dark
  --comp-DebugBarModalContent-feature-is-enabled-bg-color: #cddc39ee;
  --comp-DebugBarModalContent-feature-is-enabled-text-color: #000;
  //
  --comp-DebugBarModalContent-btn-bg-color: #000;
  --comp-DebugBarModalContent-btn-bg-color--hover: #111;
  --comp-DebugBarModalContent-btn-text-color: #fff;
  --comp-DebugBarModalContent-btn-border-color: #333;
}

// ----

.debug-bar-modal {
  --comp-DebugBar-modal-body-bg-color: #fff9;
  --comp-DebugBar-version-text-color: #111;
}

.debug-bar-modal--asDarkMode,
:global(.theme-dark) .debug-bar-modal {
  --comp-DebugBar-modal-body-bg-color: #3338;
  --comp-DebugBar-version-text-color: #eee;
}

// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  z-index: var(--ui-app-zIndex-DebugBar-wrapper);

  button {
    background-color: var(--comp-DebugBarModalContent-btn-bg-color);
    border: 1px solid var(--comp-DebugBarModalContent-btn-border-color);
    color: var(--comp-DebugBarModalContent-btn-text-color);
    border-radius: 99px;
    line-height: 1;
    font-size: 14px;
    padding: 3px 6px;

    &:hover {
      cursor: pointer;
      background-color: var(--comp-DebugBarModalContent-btn-bg-color--hover);
    }
  }
}

.comp-wrapper--center {
}

.debug-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .debug-title {
    display: flex;
    place-items: center;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 1;
  }

  .fish {
  }

  .build-version {
    margin-left: 5px;
    display: inline-block;
    transform: scale(0.6);
    transform-origin: left;
  }
}

.jump-btn-wrapper {
  margin-top: 20px;
  // place-items: center;
}

.test-env-wrapper {
  margin-top: 20px;
  text-align: center;
}

.feature-is-enabled {
  &:global(.ant-btn) {
    background-color: var(
      --comp-DebugBarModalContent-feature-is-enabled-bg-color
    ) !important;
    color: var(
      --comp-DebugBarModalContent-feature-is-enabled-text-color
    ) !important;
    border-color: var(
      --comp-DebugBarModalContent-feature-is-enabled-bg-color
    ) !important;

    &:hover,
    &:active {
      background-color: var(
        --comp-DebugBarModalContent-feature-is-enabled-bg-color
      ) !important;
      color: var(
        --comp-DebugBarModalContent-feature-is-enabled-text-color
      ) !important;
      border-color: var(
        --comp-DebugBarModalContent-feature-is-enabled-bg-color
      ) !important;
    }
  }
}

//
//

.setting-theme {
  margin-top: 20px;
  // display: flex;
  // justify-content: center;
}

.cur-url,
.cur-api {
  // border-bottom: 0 none !important;
  // text-align: center;
  // display: block;
  // font-weight: 600;
  // transform-origin: center;
  // line-height: 1.2;
  margin-top: 10px;
}

.theme-info {
  margin-top: 10px;
}

.theme-buttons {
  margin-top: 10px;
}

.cur-api {
  margin-bottom: 5px;

  .cur-api-textarea {
    // background-color: transparent !important;
    // border: 0 !important;
    // text-align: center;
    // font-size: 12px;
  }
}
