// -----------------------------------------------------------------------------
// 🌈 COMP CSS VARS
//

// prettier-ignore
.comp-wrapper {
}

// prettier-ignore
.comp-wrapper--isDarkMode {
}

// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  // display: flex;
  // flex-direction: row; // 横向布局（默认），像 HTML
  // flex-wrap: nowrap;
  // display: flex;
  // flex-direction: row; // 横向布局（默认），像 HTML
  // flex-wrap: wrap;
  // flex-shrink: 0; // 避免收缩
  // align-items: flex-start; // row 默认剧中
  // width: 100%;


  display: flex;
  flex-direction: column; // follow HTML div
  // flex-shrink: 1; // follow HTML div
  flex-shrink: 0;
  position: relative;
  align-content: flex-start;
  //
  overflow: scroll;
}


.comp-wrapper--block {
  display: block;
}

