@use '----pkg-uni/uni-styles/uni-style-antd-media/by-gen-uni-style-css-vars-antd-media.scss'
  as *;
@use '----pkg-uni/uni-styles/uni-style-mixin/uni-style-mixin-base.scss';

// -----------------------------------------------------------------------------
// 🌈 COMP CSS MIXIN VARS
// prettier-ignore
.comp-wrapper { // for-CSS-VARS--light
}

// prettier-ignore
.comp-wrapper--isDarkMode { // for-CSS-VARS--dark
}

// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  position: fixed;
  bottom: calc(230px + env(safe-area-inset-bottom));
  right: -6px;
  z-index: 999999999;
}

.comp-wrapper--isDarkMode {
}

.modal-content {

}

//
//
//

.debug-bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 45px;
  padding: 0;
  text-align: center;
  border-radius: 30px;
  background: #ccc2;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  padding-right: 5px;

  svg {
    font-size: 14px;
    color: #7774;
  }
}

.debug-bar-modal-wrapper {
}

.debug-bar-modal:global(.ant-modal) {
  width: 370px !important;
}

.disable-debugbar-wrapper {
  margin-top: 20px;
  text-align: center;

  button {
    font-size: 12px !important;
    transform: scale(0.9);
    transform-origin: center;
    font-weight: 400 !important;
    opacity: 0.2 !important;
  }
}
