// -----------------------------------------------------------------------------
// 🌈 COMP CSS MIXIN VARS
//
// prettier-ignore
.comp-wrapper { // for-CSS-VARS--light
}

// prettier-ignore
.comp-wrapper--isDarkMode { // for-CSS-VARS--dark
}

// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  display: flex;
  position: fixed;
  bottom: calc(16px + env(safe-area-inset-bottom, 0));
  right: 8px;
  border: 1px solid #aaaa;
  color: #aaa;
  padding: 2px 5px;
  line-height: 1;
  font-size: 12px;
  border-radius: 3px;
  font-family: var(--app-font-family-code);
  transform-origin: right;
  transform: scale(0.85);
  z-index: 9999;
}

.current-size,
.current-media,
.condition-media {
}

.current-size {
}

.current-media {
  margin-left: 10px;
}

.condition-media {
  margin-left: 10px;
}
