/* 
|
| code by gen
| prettier-ignore
|
|*/
:root {
  --ui-app-layout-padding: 16px;
  --ui-app-zIndex-lib-ant-message: 950;
  --ui-app-zIndex-lib-ant-modal-wrap: 950;
  --ui-app-zIndex-lib-ant-drawer-mask: 950;
  --ui-app-zIndex-lib-ant-drawer-content-wrapper: 950;
  --ui-app-zIndex-lib-ant-drawer: 950;
  --ui-app-zIndex-lib-vconsole: 999;
  --ui-app-height: 100%;
  --ui-app-width: 100%;
  /* prettier-ignore */
  --ui-app-font-family-number: GeistSans, 'GeistSans Fallback', -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  /* prettier-ignore */
  --ui-app-font-family-price: Outfit, -apple-system, BlinkMacSystemFont, 'Avenir Next', 'Avenir', 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Ubuntu, Roboto, Noto, 'Segoe UI', Arial, sans-serif;
  /* prettier-ignore */
  --ui-app-font-family-code: 'Source Code Pro', 'Liberation Mono', Menlo, Consolas, monospace;
  --ui-runtime-safe-area-inset-top: calc(0px + env(safe-area-inset-top));
  --ui-runtime-safe-area-inset-bottom: calc(0px + env(safe-area-inset-bottom));
  --ui-runtime-safe-area-inset-left: calc(0px + env(safe-area-inset-left));
  --ui-runtime-safe-area-inset-right: calc(0px + env(safe-area-inset-right));
  --ui-abs-color-white: #ffffff;
  --ui-abs-color-black: #000000;
  --ui-abs-color-gray-white: #f2f2f2;
  --ui-abs-color-gray-black: #1f1f22;
  --ui-abs-color-B0-for-light: #ffffff;
  --ui-abs-color-B1-for-light: #f7f7f9;
  --ui-abs-color-B2-for-light: #f0f0f3;
  --ui-abs-color-B3-for-light: #e4e4e5;
  --ui-abs-color-B4-for-light: #cdcdce;
  --ui-abs-color-B5-for-light: #acaeb3;
  --ui-abs-color-B6-for-light: #6f7174;
  --ui-abs-color-B7-for-light: #48494c;
  --ui-abs-color-B8-for-light: #000000;
  --ui-abs-color-delete-for-light: #ff492b;
  --ui-abs-color-error-for-light: #ff492b;
  --ui-abs-color-success-for-light: #52c41a;
  --ui-abs-color-B0-for-dark: #1f1f22;
  --ui-abs-color-B1-for-dark: #28282a;
  --ui-abs-color-B2-for-dark: #39393c;
  --ui-abs-color-B3-for-dark: #424245;
  --ui-abs-color-B4-for-dark: #5e5e61;
  --ui-abs-color-B5-for-dark: #77777a;
  --ui-abs-color-B6-for-dark: #ababae;
  --ui-abs-color-B7-for-dark: #c6c6ca;
  --ui-abs-color-B8-for-dark: #e2e2e6;
  --ui-abs-color-delete-for-dark: #ff492b;
  --ui-abs-color-error-for-dark: #ff492b;
  --ui-abs-color-success-for-dark: #52c41a;
}


:root {
 --ui-color-B0: #ffffff;
 --ui-color-B1: #f7f7f9;
 --ui-color-B2: #f0f0f3;
 --ui-color-B3: #e4e4e5;
 --ui-color-B4: #cdcdce;
 --ui-color-B5: #acaeb3;
 --ui-color-B6: #6f7174;
 --ui-color-B7: #48494c;
 --ui-color-B8: #000000;
 --ui-color-delete: #ff492b;
 --ui-color-error: #ff492b;
 --ui-color-success: #52c41a;
}


html.theme-dark {
 --ui-color-B0: #1f1f22;
 --ui-color-B1: #28282a;
 --ui-color-B2: #39393c;
 --ui-color-B3: #424245;
 --ui-color-B4: #5e5e61;
 --ui-color-B5: #77777a;
 --ui-color-B6: #ababae;
 --ui-color-B7: #c6c6ca;
 --ui-color-B8: #e2e2e6;
 --ui-color-delete: #ff492b;
 --ui-color-error: #ff492b;
 --ui-color-success: #52c41a;
}