@use '__shared__/styles/style-antd-media/style-scss-vars-antd-media.gen' as *;
@use 'sass:list';

@mixin font-size-11px($origin: center) {
  font-size: 12px;
  transform-origin: $origin;
  transform: scale(0.9);
}

@mixin font-size-10px($origin: center) {
  font-size: 12px;
  transform-origin: $origin;
  transform: scale(0.8);
}

@mixin font-size-9px($origin: center) {
  font-size: 12px;
  transform-origin: $origin;
  transform: scale(0.7);
}

// 在 flex 下会溢出
@mixin limit-text-1-line() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin limit-text-n-line($n: 2) {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  // line-break: anywhere;
  line-break: strict;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $n;
}

@mixin limit-max-screen-width() {
  @media (min-width: $screen-md) {
    max-width: var(--screen-md);
    margin: 0 auto;
  }
}

@mixin smart-100vh() {
  height: var(--ui-app-height, 100vh);
}

@mixin smart-min-100vh() {
  // 为了兼容 iOS 和 Android，使用 JS + CSS 方案，请看 useCalcAppCssVars.tsx
  min-height: calc(var(--ui-app-height) - var(--runtime-safeAreaBottomPx));
}

// 避免 position: sticky 在 iOS 上出现 1 px 缝隙
@mixin fixed-position-sticky-1px-gap() {
  // 避免出现下面的错误

  top: 0;
}
