@font-face {
  font-family: 'GeistSans';
  font-weight: normal;
  // src: url('../assets/fonts/Geist-Regular.woff2') format('woff2');
  src: url('../assets/fonts/Geist-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GeistSans';
  font-weight: bold;
  src: url('../assets/fonts/Geist-Bold.woff2') format('woff2');
}