//
//
//
//
// rq
// rq
// rq
.tsqd-parent-container {
  .tsqd-transitions-container {
    .tsqd-open-btn-container {
      bottom: 36px;
      right: 10px;
      opacity: 0.2 !important;

      // display: none !important;

      button.tsqd-open-btn {
        $btn-size: 4px;
        width: $btn-size !important;
        height: $btn-size !important;

        svg {
          display: none !important;
        }
      }
    }
  }
}

//
//
//
//
//
// vconsole
// vconsole
// vconsole

#__vconsole {
  --vconsole-width: 24px;
  --vconsole-height: 24px;
  --app-zIndex-lib-vconsole: 99999999;
  --VC-BRAND: #999a !important;

  opacity: 0.95;
  font-size: 10px !important;
  z-index: var(--app-zIndex-lib-vconsole);
  position: relative;

  .vc-tabbar {
    overflow-y: hidden;
  }

  .vc-content {
    margin-bottom: 0 !important;
  }

  .vc-toolbar {
    bottom: 0 !important;
  }

  .vc-switch {
    width: var(--vconsole-width);
    height: var(--vconsole-height);
    opacity: 0.3;
    text-indent: -9999em;
    position: fixed !important;
    padding: 0 !important;
    //border-radius: 100px !important;
    border-radius: 999px !important;
    box-shadow: none !important;

    &:before {
      content: 'v';
      font-family: var(--app-font-family-price), monospace;
      font-size: 12px;
      color: #fff;
      text-indent: 0;
      position: absolute;
      text-align: center;
      top: 6px;
      left: 9px;
    }
  }
}

// 打开的时候，需要露出 Tabbar
#__vconsole.vc-toggle {
  .vc-panel {
    min-height: 80%;
    bottom: 0 !important;
    // bottom: calc(
    //   var(--app-tabbar-height) + var(--runtime-safeAreaBottomPx)
    // ) !important;
  }

  .vc-mask {
    display: none !important;
  }
}
