// -----------------------------------------------------------------------------
// 💅 COMP CSS PROPERTY
//
.comp-wrapper {
  // background-color: #eee;
  // background-color: #ffe;
  // padding: 6px;
}

.comp-wrapper--isDarkMode {

}


.solid1-box {
  background-color: #345;
  // gap: 5px;
  // display: flex;
  // flex-wrap: wrap;
  // display: flex;
  // flex-direction: row;
  // flex-wrap: nowrap;
}

.solid4-filled-view {
  gap: 5px;
  display: flex;
  flex-wrap: wrap;
  width: auto;
  align-items: center;
}

.solid4-filled-view-icon {
  color: red;
}